
    <div class="container h-screen w-full flex justify-content-center align-items-center text-center" style="padding-top: 2%;">
        <div class="row col-xs-12 col-sm-6 col-md-8 col-lg-12">
            <div>PRECIO USD</div>
            <div class="col-6" id="compra">Compra</div>
            <div class="col-6" id="venta">Venta</div> 
            <div class="w-100"></div>
            <div class="col-6" id="priceCompra"><span class="precioCompra">ARS {{compra | number: '3.1-2'}}</span></div>
            <div class="col-6" id="priceVenta"><span class="precioVenta">ARS {{venta | number: '3.1-2'}}</span></div> 
        </div>
    </div>

